DB_HOST={{badgekit_server_DB_HOST}}
DB_NAME={{badgekit_api_server_mysqldb}}
DB_PASSWORD={{db_root_pass}}
DB_USER={{edxapp_db_root_user}}
MASTER_SECRET={{badgekit_server_MASTER_SECRET}}
PORT={{badgekit_api_server_PORT}}